* { padding: 0; margin: 0;}

h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  padding: 5%;
  margin: auto;
  align-items: center;
}
img {
  display: block;
}


.btn {
  border: 3px solid #11244A;
  border-radius: 50%;
  background-color: #5DF7C0;
  color:#11244A;
  font-size: 2em;
  text-align: center;
  width: 4.5em;
  height: 4.5em;
}


.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 2vw;
  font-family: Helvetica;
  background-color: #5DF7C0;
  color: #11244A;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;

}

.container {
  display: grid;
  justify-content: space-between;

}

.players {
  font-size: 4em;
  color: #fff;
  padding: 5%;
  display: grid;
}
.players>p {
  padding: 0.5em;
}

.icon {
  padding: 0.5em;
  text-align: center;
  width: 2.3em;
}

#game-display {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 30vh;
  /*border: 3px solid #fff;*/
  border-radius: 20px;
  padding: 0.3em 0.3em 0 0.3em;

}

#buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items:center;
  grid-gap: 10%;
  padding: 0.5em;

}

/*media queries*/
@media screen and (min-width: 750px) {
  h1{
    font-size: 48px;
  }

  .btn {
    font-size: 28px;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 25px;
    display: inline-block;

  }

  .players {
    font-size: 36px;
  }

  #buttons{
    display: block;
    text-align: center;
  }
}
