body {
  font-size: 2vw;
}
main {
  width: 100%;
  font-family: Helvetica;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
}

#game-display {
  border: 2px solid #696969;
  padding: 2%;

}

button {
  border: 1px solid #696969;
  font-size: 2em;
  width: 25%;
  height: 75%;
  padding: 2%;
  margin:

}

.container {
display: grid;

}

.players {
  font-size: 2em;
}

#game-display{
  grid-template-columns: 1fr 1fr;
}

#buttons{

  grid-template-columns: 1fr 1fr 1fr;
}
